<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprovação do Serviço - Bolsa de Horas</title>
</head>
<body>
    <h1>Aprovação do Serviço</h1>
    <h2>Você recebeu uma oferta de Serviço</h2>
    
    <div id=code>
        <label>Código da demanda:</label>
        <label><b>#001</b></label>
    </div>
    <div id=hour>
        <label>Suas horas</label>
        <label><b>200</b></label>
        <label>X</label>
        <label><b>250</b></label>
        <label>Horas Ofertadas</label>
    </div>
    
    <input type="submit" value="Rejeitar">
	<input type="submit" value="Aprovar">

</body>
</html>

