<html>
<head>
	<title>Aprovação de Horas - Bolsa de Horas</title>
</head>
<body>
    <h1>Aprovação de horas</h1>
	<form method="POST" action="visualizar_demandas.html" onsubmit="return enviarDados();">
		<table>
			<tr>
				<td>Código da Demanda: </td>
				<td><b>#001</b></td>
			</tr>
			<tr>
				<td>Horas Reais: </td>
				<td><b>200</b></td>
			</tr>
        </table>
        <h2>Aprovar?</h2>
		<tr>
			<td><input type="submit" value="Não"></td>
			<td><input type="submit" value="Sim"></td>
		</tr>
	</form>
</body>
</html>


