<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="./../css/App.css" rel="stylesheet">
</head>

<body>
    <div id="page-home">
        <div class="content">
            <header>
                
            </header>
            <main>
                <h1>Hour Exchange</h1>
                <p>Ajudamos pessoas a realizarem permutas de trabalho de forma eficiente e justa.</p>
                <form>
                    <label html="email">E-mail</label>
                    <input type="email" id="email"></input>
                </form>
                <a href="visualizar_demandas.html">
                    <span>
                        
                    </span>
                    <strong>Entrar</strong>
                </a>
            </main>
            
        </div>
    </div>
</body>
</html>