<html>
<head>
	<title>Ver Demanda - Bolsa de Horas</title>
</head>
<body>
    <h1>Visualizar Demanda #001</h1>
	<form method="POST" action="visualizar_demandas.html" onsubmit="return enviarDados();">
		<table>
			<tr>
				<td>Titulo do Pedido: </td>
				<td>Programar Blog</td>
			</tr>
			<tr>
				<td>Estimativa de Horas: </td>
				<td>205</td>
			</tr>
			<tr>
				<td>Prazo de entrega: </td>
				<td>23/04/2021</td>
			</tr>
			<tr>
				<td>Especialidade necessária: </td>
				<td>Programador</td>
			</tr>
            <tr>
				<td>Descrição da Demanda: </td>
				<td>Programar um Blog em Python</td>
			</tr>
		</table>
		<tr>
			<td><input type="submit" value="Retornar"></td>
		</tr>
    </form>
    
</body>
</html>