<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./../css/App.css" rel="stylesheet">

    <title>Visualizar Demandas - Bolsa de Horas</title>
</head>

<body>

</body>

</html>

<body>
    <div class="container">
        <div class="content">
            <h1>Visualizar Demandas</h1>
            <table>
                <tr>
                    <td>Demanda 1 </td>
                    <td><input type="submit" value="Editar"></td>
                    <td><input type="submit" value="Remover"></td>
                    <td><BUTTON onclick="window.location.href='ver_demanda.html'">Ver</BUTTON></td>
                </tr>
                <tr>
                    <td>Demanda 2 </td>
                    <td><input type="submit" value="Editar"></td>
                    <td><input type="submit" value="Remover"></td>
                    <td><input type="submit" value="Ver"></td>
                </tr>
                <tr>
                    <td>Demanda 3 </td>
                    <td><input type="submit" value="Editar"></td>
                    <td><input type="submit" value="Remover"></td>
                    <td><input type="submit" value="Ver"></td>
                </tr>
                <tr>
                    <td>Demanda 4 </td>
                    <td><input type="submit" value="Editar"></td>
                    <td><input type="submit" value="Remover"></td>
                    <td><input type="submit" value="Ver"></td>
                </tr>
            </table>
            <a><strong>Adicionar</strong></a>
            <a><strong>Retornar</strong></a>
        </div>
    </div>

</body>

</html>